{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}JeffPD - Coach{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Coach Dashboard</h1>
</div>
<div class="test" id="test">
    <p>Hello, {% if current_user.is_authenticated() %}{{ current_user.first_name }}{% else %}Stranger{% endif %}!</p>
    <p>Use this page to checkout all the logs you've created!</p>
</div>
<div class = "dashboard" id="teacher">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Teacher</th>
          <th>Date / Time Created</th>
          <th>Date / Time Completed</th>
          <th>What you did</th>
          <th>What you're doing next</th>
          <th>Minutes logged</th>
          <th>Tags</th>
          <th>Completed?</th>
          <th>Edit or Delete this log?</th>
        </tr>
      </thead>
      <tbody>
        {% for log in logs %}
        <tr>
          <td>{% for teacher in log.teachers %}
                {{ teacher.first_name }} {{ teacher.last_name }},
              {% endfor %}
          </td>
          <td>{{ log.timestamp_created.strftime("%Y-%m-%d %H:%M") }}</td>
          <td>
            {% if log.timestamp_completed != None %}
                {{ log.timestamp_completed.strftime("%Y-%m-%d %H:%M") }}
            {% endif %}
          </td>
          <td id="log-body">{{ log.body }}</td>
          <td>{{ log.next }}</td>
          <td> {{ log.time }}</td>
          <td>{% for tag in log.tags %}
                {{ tag.name }},
              {% endfor %}
          </td>
          <td>{{ log.completed }}</td>
          <td><a href="{{ url_for('private.coach_edits_log', log_id=log.id) }}" class="btn btn-primary">Edit/Delete Log</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
