{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}JeffPD - Teacher{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Teacher Dashboard</h1>
</div>
<div class="test" id="test">
    <p>Hello, {% if current_user.is_authenticated() %}{{ current_user.first_name }}{% else %}Stranger{% endif %}!</p>
    <p>Use this page to checkout all the logs you're coaches have entered about you!</p>
</div>
<div class = "dashboard" id="teacher">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Coach</th>
          <th>Date / Time</th>
          <th>What your coach did</th>
          <th>What he/she is doing next</th>
          <th>Tags</th>
          <th>Send coach a message about this?</th>
        </tr>
      </thead>
      <tbody>
        {% for log in teacher.logs %}
        <tr>
          <td>{{ Coach.query.filter_by(id=log.coach_id).first().first_name + " " + Coach.query.filter_by(id=log.coach_id).first().last_name }}</td>
          <td>{{ log.timestamp.strftime("%Y-%m-%d %H:%M") }}</td>
          <td id="log-body">{{ log.body }}</td>
          <td>{{ log.next }}</td>
          <td>{% for tag in log.tags %}
                {{ tag.name }},
              {% endfor %}
          </td>
          <td><a href="mailto:{{ Coach.query.filter_by(id=log.coach_id).first().email }}">{{ Coach.query.filter_by(id=log.coach_id).first().email }}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
