<p>Dear {{ user.username }},</p>
<p>To reset your password <a href="{{ url_for('auth.password_reset', token=token, _external=True) }}">click here</a>.</p>
<p>Alternatively, you can paste the following link in your browser's address bar:</p>
<p>{{ url_for('auth.password_reset', token=token, _external=True) }}</p>
<p>If you have not requested a password reset simply ignore this message.</p>
<p>Sincerely,</p>
<p>Jeff</p>
<p>ps. Check out some cool stuff by me...</p>
<p>Twitter: <a href="https://twitter.com/jeffthemaximum">@jeffthemaximum</a></p>
<p>Facebook: <a href="https://www.facebook.com/frey.maxim">https://www.facebook.com/frey.maxim</a></p>
<p>Instagram: <a href="https://instagram.com/jeffthemaximum/">https://instagram.com/jeffthemaximum/</a></p>
<p>LinkedIn: <a href="https://www.linkedin.com/in/jeffmaxim">https://www.linkedin.com/in/jeffmaxim</a></p>
<p>EdTech Blog: <a href="http://www.jeffreymaxim.com/">http://www.jeffreymaxim.com</a></p>
<p>Super Cool Weather Forecasting Website: <a href="http://jeffweather.herokuapp.com/">http://jeffweather.herokuapp.com/</a></p>
<p>Fun website that shows NYC's best dessert spots: <a href="http://www.nycdessertmap.com/">http://www.nycdessertmap.com</a></p>
