{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}JeffPD - Coach{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Coach DashBoard</h1>
</div>
<div class="test" id="test">
    <p>Hello, {% if current_user.is_authenticated() %}{{ current_user.first_name }}{% else %}Stranger{% endif %}!</p>
</div>
<table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>Add Teachers</th>
      <th>Log Coaching</th>
      <th>View My Coaching Logs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href="{{ url_for('private.add_teachers') }}">Add Teachers</a></td>
      <td><a href="{{ url_for('private.coach_log') }}">Log Coaching</a></td>
      <td><a href="{{ url_for('private.coach_selects_view_log_params') }}">View My Logs</a></td>
    </tr>
  </tbody>
</table>
{% endblock %}
